
@using Microsoft.Extensions.Configuration
@using RC2K.Presentation.Shared.ViewModels
@inject IConfiguration Config

@code {

  [Parameter]
  public List<MenuItem> MenuItems { get; set; }

  public RenderFragment RenderMenuItem(MenuItem menuItem) => __builder =>
  {
    <div class="menu-item">
      <MudButton Link="@menuItem.ItemLink"
                 StartIcon="@(IconMapper.IsMudBlazor(menuItem.Icon) ? IconMapper.Thin(menuItem.Icon) : string.Empty)"
                 Href="@($"{Config["AppBaseUrl"]}/{menuItem.ItemLink}")">
        @{
          if (!IconMapper.IsMudBlazor(menuItem.Icon))
          {
            <i class="@IconMapper.Thin(menuItem.Icon)" aria-hidden="true"></i>
          }
        }
        @menuItem.Item
      </MudButton>
      @if (menuItem.Subitems.Any())
      {
        <ul>
          @foreach (var subitem in menuItem.Subitems)
          {
            <li class="menu-item-li">
              <MudButton Href="@($"{Config["AppBaseUrl"]}/{subitem.link}")" Style="width: 100%">
                <MudText Style="font-size: 10pt;">@subitem.label</MudText>
              </MudButton>
            </li>
          }
        </ul>
      }
    </div>
  };

}
