@rendermode InteractiveServer
@page "/stages/{raceName}/{id:int}"

@using Microsoft.AspNetCore.Authorization
@using RC2K.DataAccess.Interfaces
@using RC2K.DataAccess.Interfaces.Repositories
@using RC2K.DomainModel
@using RC2K.Extensions
@using RC2K.Logic.Interfaces
@using RC2K.Presentation.Blazor.Views.Components
@using RC2K.Presentation.Blazor.ViewModels
@inject IStageService StageService
@inject ITimeEntryService TimeEntryService
@inject IDriverService DriverService
@inject ICarService CarService
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager
<h3></h3>


<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />


@page "/map"
@using System.Collections.Generic

<div class="MAIN">
  <h1>@_raceName</h1>
  <div class="container" id="containerId" accesskey="">

    <div class="item stage-info">
      <div class="card" style="position: relative;">
        <div class="card-header">Stage details</div>
        <div class="card-body">
          <div style="position: absolute; top: 0; right: 0;">
            @if (IsArcade)
            {
              <a href="@NavigationManager.GetUriWithQueryParameter("direction","simulation")">Not arcade version</a>
            }
            else
            {
              <a href="@NavigationManager.GetUriWithQueryParameter("direction","arcade")">Arcade version</a>
            }
          </div>
          <h2>@($"{_name}{(Direction == DomainModel.Direction.Arcade ? " - Arcade version" : "")}")</h2>
          <br />
          <p>Length: @_stageDetails.Length</p>
          <br />
          <p>Road: @_stageDetails.Asphalt / @_stageDetails.Dirt / @_stageDetails.Gravel / @_stageDetails.Snow</p>
          <br />
          <p>Weather: @_stageDetails.Temp &#0043;C, wind: @_stageDetails.Wind km/H</p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
    <div class="item stage-img">
      <div class="card" style="overflow: hidden; padding: 0; margin: 0; width: 75%;">
        <img src="img/maps/@_imgName" style="width: 100%;" />
      </div>
    </div>
    <div class="item stage-description">
      <div class="card">
        <div class="card-header">Description</div>
        <div class="card-body">
          @_description
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
    <div class="item stage-times">
      <div class="card">
        <div class="card-header">Records</div>
        <div class="card-body times-table" style="display: grid; grid-template-columns: .25fr .8fr .8fr 1.5fr .5fr 1fr .7fr .5fr;">
          <p class="th-header">#</p>
          <p class="th-header">Time</p>
          <p class="th-header">Gap</p>
          <p class="th-header">Driver</p>
          <p class="th-header">Car</p>
          <p class="th-header">Uploaded</p>
          <p class="th-header">Proofs</p>
          <p class="th-header">Labels</p>

          @{
            int cnt = 0;
          }
          @foreach (var timeEntry in _timeEntries.OrderBy(x => x.Time).Skip((Page-1) * perPage).Take(perPage).Select((x, i) => new { Place = i + 1 + perPage * (Page - 1), Data = x }))
          {
            cnt++;
            <div style="display: flex; align-items: center;"><span>@timeEntry.Place</span></div>
            <div style="display: flex; align-items: center;">
              <span style="color: @(timeEntry.Data.VerifyInfo is null ? "red" : "green");">@timeEntry.Data.Time.ToString("m:ss.ff")</span>
            </div>
            <div style="display: flex; align-items: center;">
              @{
                TimeSpan diff = timeEntry.Data.Time - best.Time;
                if (diff != TimeSpan.Zero)
                {
                  string diffFormatted = diff.ToString("m\\:ss\\.ff");
                  <p>
                    <span>-</span>
                    <span>@diffFormatted</span>
                  </p>
                }
              }
            </div>
            <div style="display: flex; align-items: center;">
              <p>
                <span class="fi @($"fi-{timeEntry.Data.Driver.Nationality}")"></span>
                <span>@(timeEntry.Data.Driver.Known ? timeEntry.Data.Driver.User!.Name : timeEntry.Data.Driver.Name)</span>
              </p>
            </div>
            <div style="display: flex; align-items: center;">
              <div class="car" data-car-id="@(timeEntry.Data.Car.Id-1)"></div>
            </div>
            <div style="display: flex; align-items: center;">
              <span>@timeEntry.Data.UploadTime.ToString("yyyy/MM/dd")</span>
            </div>
            <p style="display: flex;">
              @{
                foreach (var p in timeEntry.Data.Proofs)
                {
                  <MudIconButton Class="proof-item" Icon="@IconMapper.ProofTypeToIcon(p.Type)" Href="@p.Url" Size="Size.Small" />
                }
              }
            </p>
            <p>
              @{
                var split = timeEntry.Data.Labels?.Split(",");
                if (split is not null)
                {
                  foreach (var label in split)
                  {
                    <MudChip T="string" Color="Color.Info" Size="Size.Small">@label</MudChip>
                  }
                }
              }
            </p>
          }
          @{
            if (_timeEntries.Count() < perPage)
            {
              for (int i = 10 - cnt; i >= 0; i--)
              {
                <p>@(10 - i)</p>
                <p>---</p>
                <p>---</p>
                <p>---</p>
                <p>---</p>
                <p>---</p>
                <p>---</p>
                <p>---</p>
              }
            }
          }
        </div>
        <p>
          <span>Pages:</span>
          @for(int i=0; i<pageCnt; i++)
          {
            int jj = i;
            <MudButton Size="Size.Small" OnClick="() => { GoToPage(jj+1); }" >@(jj+1)</MudButton>
          }
        </p>
        <div class="card-footer" style="display: flex; flex-direction: row-reverse; width: 100%;">
          <MudButton OnClick="OpenUploadDialog">Upload time</MudButton>
        </div>

      </div>
    </div>
    <div class="item stage-map">
      <div class="card" style="overflow: hidden; padding: 0; margin: 0;">
        <Map Waypoints="@_waypoints" ShowWaypoints="@ShowWaypoints" NewPathCached="@HandleNewPathCachedEvent" Path="@_path" Api="@_api" />
      </div>
    </div>
    <div class="break"></div>
  </div>
  <MudPopover Open="uploadDialogVisible"
  Fixed="true"
  Class="px-4 pt-4"
  AnchorOrigin="Origin.CenterCenter"
  TransformOrigin="Origin.CenterCenter">
    <div class="d-flex flex-column">

      <MudPaper Class="pa-4" style="margin: auto;" MaxWidth="50ch">
        <MudForm Class="gap-5">
          <div style="display: flex; gap: 1em;">
            <MudTextField T="int"
            Label="min"
            @bind-Value="UploadTimeModel.Min" />
            <MudTextField T="int"
            Label="sec"
            @bind-Value="UploadTimeModel.Sec" />
            <MudTextField T="int"
            Label="cc"
            @bind-Value="UploadTimeModel.Cc" />
          </div>
          <MudTextField T="string"
          Label="Driver name"
          @bind-Value="UploadTimeModel.DriverName" />

          <MudSelect T="Car"
          @bind-Value="UploadTimeModel.Car"
          Label="Car"
          Variant="Variant.Outlined"
          Dense="true">
            @foreach (var car in _cars.OrderByDescending(x => x.Class).ThenBy(x => x.Name))
            {
              <MudSelectItem T="Car" Value="@car">
                <div style="display: flex;">
                  <div class="car-big" data-car-id="@(car.Id-1)"></div>
                  <span>@($"A{car.Class} - {@car.Name}")</span>
                </div>
              </MudSelectItem>
            }
          </MudSelect>
          <MudTextField T="string"
          Label="Proofs"
          @bind-Value="UploadTimeModel.Proofs" />

          <MudButton Variant="Variant.Filled"
          Color="Color.Primary"
          Class="ml-auto"
          OnClick="UploadClick">Upload</MudButton>
        </MudForm>
      </MudPaper>

      <MudButton OnClick="CloseUploadDialog"
      Class="ml-auto mr-n3 mb-1"
      Color="Color.Error">Close</MudButton>

    </div>
  </MudPopover>


</div>


@code {

  TimeEntry best;

  public class UploadTimeModelType
  {
    public int Min { get; set; }
    public int Sec { get; set; }
    public int Cc { get; set; }
    public Car Car { get; set; }
    public string Proofs { get; set; }
    public string DriverName { get; set; }
  }

  private List<Car> _cars;

  UploadTimeModelType UploadTimeModel = new();

  private string _api;
  private async Task HandleNewPathCachedEvent(string path)
  {
    var stage = await StageService.GetByCode(Id, IsArcade ? DomainModel.Direction.Arcade : DomainModel.Direction.Simulation);
    int stageCode = stage.Code;
    await StageService.SetPath(stageCode, path);
  }

  [Parameter]
  public string RaceName { get; set; }

  [Parameter]
  public int Id { get; set; }

  [SupplyParameterFromQuery(Name = "Page")]
  public int? PageFromQuery { get; set; }

  int Page => PageFromQuery.HasValue ? PageFromQuery.Value : 1;

  int perPage = 10;
  int pageCnt;

  void GoToPage(int p)
  {
    var newLocation = NavigationManager.GetUriWithQueryParameter("Page", p);
    NavigationManager.NavigateTo(newLocation);
  }

  private IList<double[]> _waypoints;

  private string _name;
  private string _raceName;
  private string _description;

  private string _imgName;

  private DomainModel.StageDetails _stageDetails;

  private List<DomainModel.TimeEntry> _timeEntries = new();

  private string _directionParameter;
  [SupplyParameterFromQuery(Name = "direction")]
  public string DirectionParameter
  {
    get => _directionParameter;
    set
    {
      _directionParameter = value;
      Direction = value == "arcade" ? DomainModel.Direction.Arcade : DomainModel.Direction.Simulation;
    }
  }

  public DomainModel.Direction Direction { get; set; }

  public bool IsArcade => Direction == DomainModel.Direction.Arcade;

  [SupplyParameterFromQuery]
  [Parameter]
  public bool ShowWaypoints { get; set; } = true;

  private string? _path;
  protected override async Task OnInitializedAsync()
  {
    _cars = await CarService.GetAll();

    var stage = await StageService.GetByCode(Id, Direction);
    _api = stage.StageWaypoints.ApiHint;
    _waypoints = await StageService.GetWaypoints(Id, stage.Direction == DomainModel.Direction.Arcade);

    _path = await StageService.GetPath(Id);
    //_waypoints = [
    //];
    //string rawStr = string.Join(";", _waypoints.Select(x => string.Join(",", x.Select(d => Math.Round(d,7)))));

    _raceName = LevelHelper.RallyCodeToRallyName(Enum.Parse<RallyCode>(RaceName, true));
    _name = stage.StageData.Name;
    _imgName = stage.StageData.ImgName;
    _description = stage.StageData.Description;
    _stageDetails = stage.StageData.StageDetails;

    var timeEntries = await TimeEntryService.Get(stage.Id);
    // int cnt = Random.Shared.Next(5, 20);
    // for (int i=0; i<cnt; i++)
    // {
    //     _timeEntries.Add(new DomainModel.TimeEntry()
    //         {
    //             Id = Guid.NewGuid(),
    //             Car = new DomainModel.Car() { Id = 1, Class = 5, Name = "car" },
    //             StageId = 1,
    //             DriverId = Guid.NewGuid(),
    //             Driver = new DomainModel.Driver() { Id = Guid.NewGuid(), Known = true, Name = "driver" },
    //             CarId = 1,
    //             Time = TimeOnly.FromTimeSpan(TimeSpan.FromSeconds(45)),
    //             UploadTime = DateTime.Now
    //         });
    // }

    pageCnt = (int)Math.Ceiling(((double)(timeEntries.Count())) / (double)perPage);

    _timeEntries.AddRange(timeEntries);
    best = _timeEntries.OrderBy(x => x.Time).FirstOrDefault();
  }

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    await JSRuntime.InvokeVoidAsync("calculateContainerHeight", "containerId");
  }


  private async Task UploadClick()
  {
    var driver = await DriverService.GetByName(UploadTimeModel.DriverName);
    if (driver is null || !driver.Known)
    {
      // TODO: handle adding times for anonymous drivers
      return;
    }

    var stage = await StageService.GetByCode(Id, IsArcade ? DomainModel.Direction.Arcade : DomainModel.Direction.Simulation);
    await TimeEntryService.Upload(
      stage.Id,
      UploadTimeModel.Car.Id,
      driver.Id,
      UploadTimeModel.Min,
      UploadTimeModel.Sec,
      UploadTimeModel.Cc,
              [],
      null
      );
  }

  private bool uploadDialogVisible;
  private void OpenUploadDialog()
  {
    uploadDialogVisible = true;
  }
  private void CloseUploadDialog()
  {
    uploadDialogVisible = false;
  }

}
