@rendermode InteractiveServer
@page "/stages/{raceName}/{id:int}"

@inject IStageService StageService
@inject ITimeEntryService TimeEntryService
@inject IDriverService DriverService
@inject ICarService CarService
@inject IPointsProvider PointsProvider
@inject IJSRuntime JSRuntime;
@inject DialogHelper DialogHelper
@inject NavigationManager NavigationManager

@page "/map"
@using System.Collections.Generic

@*
  Mobile (1 col)
   | A - Details
   | B - Image
   | C - Description
   | D - Records
   | E - Top points
   | F - Map
   | G - Altitude
   v

  Desktop (2 col)
   A | B
   D | C
   E | F
     | G
*@
<style>
    .road-element {
        transition: width .25s ease-in;
        box-shadow: 1px 1px 5px #3d3d3d7a;
        border-radius: 2px 10px 10px 2px;
        overflow: hidden;
    }
</style>

<div class="MAIN">
    <div class="container">
        <div class="left-box">
            <div class="item stage-info">
                <div class="card" style="position: relative;">
                    <div class="card-header" style="display: flex; justify-content: space-between;">
                        <h3>Stage details</h3>
                        <div style="">
                            <MudButton Class="button-xs"
                                       Size="Size.Small" 
                                       Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Disabled="@(Id % 10 == 1)"
                                       OnClick="GoToPrevious" 
                                       Style="border-top-right-radius: 0; border-bottom-right-radius: 0;">&lt;</MudButton>
                            @if (IsArcade)
                            {
                                <MudButton Class="button-xs" Size="Size.Small" Variant="Variant.Filled" Color="Color.Primary" OnClick="GoToSimulationVersion" Style="border-radius: 0;">
                                    <span style="padding: 0 .3em;">To simulation</span>
                                </MudButton>
                            }
                            else
                            {
                                <MudButton Class="button-xs" Size="Size.Small" Variant="Variant.Filled" Color="Color.Primary" OnClick="GoToArcadeVersion" Style="border-radius: 0;">
                                    <span style="padding: 0 .3em;">To arcade</span>
                                </MudButton>
                            }
                            <MudButton Class="button-xs"
                                       Size="Size.Small"
                                       Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Disabled="@(Id % 10 == 6)"
                                       Style="border-top-left-radius: 0; border-bottom-left-radius: 0;"
                                       OnClick="GoToNext">&gt;</MudButton>
                        </div>
                    </div>
                    <div class="card-body">
                        
                        <div style="display: flex; justify-content: space-between;">
                            <div style="flex-grow: 1;">
                                <h1 Style=@($"color: {Rc2kColorPalette.primary700}; margin-bottom: .5em;")>
                                    @($"{_name}{(Direction == DomainModel.Direction.Arcade ? " - Arcade" : "")}")
                                </h1>
                                <MudStack Row="true">
                                    <MudText Typo="Typo.body1"><b>Length:</b></MudText>
                                    <MudText Typo="Typo.body1">@_stageDetails.Length km</MudText>
                                </MudStack>
                                <MudStack Row="true" AlignItems="AlignItems.Center">
                                    <MudText Typo="Typo.body1"><b>Road:</b></MudText>
                                    <div style="width: @((int)_stageDetails.Length * 2)%;" class="road-element">
                                        <RoadComponent Pieces="@([_stageDetails.Asphalt, _stageDetails.Dirt, _stageDetails.Gravel, _stageDetails.Snow])" Colors="@(["asphalt", "dirt", "gravel", "snow"])" />
                                    </div>
                                </MudStack>
                                <MudStack Row="true">
                                    <MudText Typo="Typo.body1"><b>Weather:</b></MudText>
                                    <MudText Typo="Typo.body1">@_stageDetails.Temp &deg;C, wind: @_stageDetails.Wind km/h</MudText>
                                </MudStack>
                            </div>
                            <div style="margin: auto 0;">
                                <div style="border-radius: 0.375rem; overflow: hidden;">
                                    <img src="img/rallies/@(RC2K.Utils.LevelHelper.StageCodeToRallyImageName(_stageCode)).PNG" style="max-width: 200px;" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
            <div class="item stage-times">
                <div class="card">
                    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                        <h3>Records</h3>
                    </div>
                    <div class="card-body">
                        <TimeEntryList @ref="_timeEntryListRef" PerPage="20" StageId="@_stageId" OnLoaded="HandleOnTimeEntryListLoaded" OnReloadRequested="HandleOnTimeEntryListReloadRequested" />

                        

                    </div>
                    <div class="card-footer" style="display: flex; flex-direction: row-reverse;">
                        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="OpenUploadDialog">Upload time</MudButton>
                    </div>

                </div>
            </div>
            <div class="item stage-points">
                <div class="card">
                    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                        <h3>Driver points</h3>
                    </div>
                    <div class="card-body">
                        <PointsList @ref="_pointsListRef" />
                    </div>
                </div>
            </div>
        </div>
        <div class="right-box">
            <div class="item stage-img">
                <div class="card" style="overflow: hidden; padding: 0; margin: 0; width: 75%;">
                    <img src="img/maps/@_imgName" style="width: 100%;" />
                </div>
            </div>
            <div class="item stage-description">
                <div class="card">
                    <div class="card-header"><h3>Description</h3></div>
                    <div class="card-body">
                        @_description
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
            <div class="item stage-map">
                <div class="card" style="overflow: hidden; padding: 0; margin: 0;">
                    <Map Waypoints="@_waypoints" ShowWaypoints="@ShowWaypoints" NewPathCached="@HandleNewPathCachedEvent" Path="@_path" Api="@_api" />
                </div>
            </div>
        </div>
    </div>
</div>
