@rendermode InteractiveServer
@page "/stages/{raceName}/{id:int}"

@using RC2K.DataAccess.Interfaces
@using RC2K.DataAccess.Interfaces.Repositories
@using RC2K.DomainModel
@using RC2K.Extensions
@using RC2K.Logic.Interfaces
@using RC2K.Presentation.Blazor.Views.Components
@using RC2K.Presentation.Blazor.ViewModels
@inject IStageService StageService
@inject ITimeEntryService TimeEntryService
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager
<h3></h3>


@page "/map"
@using System.Collections.Generic

<div class="MAIN">
    <h1>@_raceName</h1>
    <div class="container" id="containerId" accesskey="">

        <div class="item stage-info">
            <div class="card" style="position: relative;">
                <div class="card-header">Stage details</div>
                <div class="card-body">
                    <div style="position: absolute; top: 0; right: 0;">
                        @if (IsArcade)
                        {
                            <a href="@NavigationManager.GetUriWithQueryParameter("direction","simulation")">Not arcade version</a>
                        }
                        else
                        {
                            <a href="@NavigationManager.GetUriWithQueryParameter("direction","arcade")">Arcade version</a>
                        }
                    </div>
                    <h2>@($"{_name}{(Direction == DomainModel.Direction.Arcade ? " - Arcade version" : "")}")</h2>
                    <br />
                    <p>Length: @_stageDetails.Length</p>
                    <br />
                    <p>Road: @_stageDetails.Asphalt / @_stageDetails.Dirt / @_stageDetails.Gravel / @_stageDetails.Snow</p>
                    <br />
                    <p>Weather: @_stageDetails.Temp &#0043;C, wind: @_stageDetails.Wind km/H</p>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="item stage-img">
            <div class="card" style="overflow: hidden; padding: 0; margin: 0; width: 75%;">
                <img src="img/maps/@_imgName" style="width: 100%;" />
            </div>
        </div>
        <div class="item stage-description">
            <div class="card">
                <div class="card-header">Description</div>
                <div class="card-body">
                    @_description
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="item stage-times">
            <div class="card" >
                <div class="card-header">Records</div>
                <div class="card-body times-table" style="display: grid; grid-template-columns: .25fr 1fr 1.5fr .5fr 1fr .5fr .5fr;">
                    <p class="th-header">#</p>
                    <p class="th-header">Time</p>
                    <p class="th-header">Driver</p>
                    <p class="th-header">Car</p>
                    <p class="th-header">Uploaded</p>
                    <p class="th-header">Proofs</p>
                    <p class="th-header">Labels</p>

                    @{
                        int cnt = 0;
                    }
                    @foreach (var timeEntry in _timeEntries.OrderBy(x => x.Time).Select((x, i) => new { Place = i + 1, Data = x }))
                    {
                        cnt++;
                        <p>@timeEntry.Place</p>
                        <p style="color: @(timeEntry.Data.VerifyInfo is null ? "red" : "green");">@timeEntry.Data.Time.ToString("m:ss:ff")</p>
                        <p>
                            <span class="fi @($"fi-{timeEntry.Data.Driver.Nationality}")"></span>
                            <span>@(timeEntry.Data.Driver.Name ?? timeEntry.Data.Driver.User.Name)</span>
                        </p>
                        <p>
                            <div class="car" data-car-id="@(timeEntry.Data.Car.Id-1)"></div>
                        </p>
                        <p>@timeEntry.Data.UploadTime.ToString("yyyy/MM/dd")</p>
                        <p>
                            @{
                                foreach (var p in timeEntry.Data.Proofs)
                                {
                                    <MudIconButton Icon="@IconMapper.ProofTypeToIcon(p.Type)" Href="@p.Url" />
                                }
                            }
                        </p>
                        <p>
                            @{
                                var split = timeEntry.Data.Labels?.Split(",");
                                if (split is not null)
                                {
                                    foreach (var label in split)
                                    {
                                        <span style="margin: 0 1px; border: solid 1px black; border-radius: 5px; background-color: pink;">@label</span>
                                    }
                                }
                            }
                        </p>
                    }
                    @for (int i = 10 - cnt; i >= 0; i--)
                    {
                        <p>@(10 - i)</p>
                        <p>---</p>
                        <p>---</p>
                        <p>---</p>
                        <p>---</p>
                        <p>---</p>
                        <p>---</p>
                    }
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="item stage-map">
            <div class="card" style="overflow: hidden; padding: 0; margin: 0;">
                <Map Waypoints="@_waypoints" ShowWaypoints="@ShowWaypoints" NewPathCached="@HandleNewPathCachedEvent" Path="@_path" Api="@_api" />
            </div>
        </div>
        <div class="break"></div>
    </div>

</div>


@code {
    private string _api;
    private async Task HandleNewPathCachedEvent(string path)
    {
        var stage = await StageService.GetByCode(Id, IsArcade ? DomainModel.Direction.Arcade : DomainModel.Direction.Simulation);
        int stageCode = stage.Code;
        await StageService.SetPath(stageCode, path);
    }

    [Parameter]
    public string RaceName { get; set; }

    [Parameter]
    public int Id { get; set; }

    private IList<double[]> _waypoints;

    private string _name;
    private string _raceName;
    private string _description;

    private string _imgName;

    private DomainModel.StageDetails _stageDetails;

    private List<DomainModel.TimeEntry> _timeEntries = new();

    private string _directionParameter;
    [SupplyParameterFromQuery(Name = "direction")]
    public string DirectionParameter 
    { 
        get => _directionParameter; 
        set
        {
            _directionParameter = value;
            Direction = value == "arcade" ? DomainModel.Direction.Arcade : DomainModel.Direction.Simulation;
        }
    }

    public DomainModel.Direction Direction { get; set; }

    public bool IsArcade => Direction == DomainModel.Direction.Arcade;

    [SupplyParameterFromQuery]
    [Parameter]
    public bool ShowWaypoints { get; set; } = true;

    private string? _path;
    protected override async Task OnInitializedAsync()
    {

        var stage = await StageService.GetByCode(Id, Direction);
        _api = stage.StageWaypoints.ApiHint;
        _waypoints = await StageService.GetWaypoints(Id, stage.IsArcade);
        
        _path = await StageService.GetPath(Id);
        //_waypoints = [
        //];
        //string rawStr = string.Join(";", _waypoints.Select(x => string.Join(",", x.Select(d => Math.Round(d,7)))));

        _raceName = LevelHelper.RallyCodeToRallyName(Enum.Parse<RallyCode>(RaceName, true));
        _name = stage.StageData.Name;
        _imgName = stage.StageData.ImgName;
        _description = stage.StageData.Description;
        _stageDetails = stage.StageData.StageDetails;

        var timeEntries = await TimeEntryService.Get(stage.Id);
        // int cnt = Random.Shared.Next(5, 20);
        // for (int i=0; i<cnt; i++)
        // {
        //     _timeEntries.Add(new DomainModel.TimeEntry()
        //         {
        //             Id = Guid.NewGuid(),
        //             Car = new DomainModel.Car() { Id = 1, Class = 5, Name = "car" },
        //             StageId = 1,
        //             DriverId = Guid.NewGuid(),
        //             Driver = new DomainModel.Driver() { Id = Guid.NewGuid(), Known = true, Name = "driver" },
        //             CarId = 1,
        //             Time = TimeOnly.FromTimeSpan(TimeSpan.FromSeconds(45)),
        //             UploadTime = DateTime.Now
        //         });
        // }

        _timeEntries.AddRange(timeEntries);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("calculateContainerHeight", "containerId");
    }

}
