@rendermode InteractiveServer
@page "/stages/{raceName}/{id:int}"

@using Microsoft.AspNetCore.Authorization
@using RC2K.DataAccess.Interfaces
@using RC2K.DataAccess.Interfaces.Repositories
@using RC2K.DomainModel
@using RC2K.Extensions
@using RC2K.Logic.Interfaces
@using RC2K.Presentation.Blazor.Views.Components
@using RC2K.Presentation.Blazor.ViewModels
@inject IStageService StageService
@inject ITimeEntryService TimeEntryService
@inject IDriverService DriverService
@inject ICarService CarService
@inject IPointsProvider PointsProvider
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager
<h3></h3>


<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />


@page "/map"
@using System.Collections.Generic

<div class="MAIN">
  <h1>@_raceName</h1>
  <div class="container" id="containerId" accesskey="">

    <div class="item left stage-info">
      <div class="card" style="position: relative;">
        <div class="card-header">Stage details</div>
        <div class="card-body">
          <div style="position: absolute; top: 0; right: 0;">
            @if (IsArcade)
            {
              <a href="@NavigationManager.GetUriWithQueryParameter("direction","Simulation")">Not arcade version</a>
            }
            else
            {
              <a href="@NavigationManager.GetUriWithQueryParameter("direction","Arcade")">Arcade version</a>
            }
          </div>
          <h2>@($"{_name}{(Direction == DomainModel.Direction.Arcade ? " - Arcade version" : "")}")</h2>
          <br />
          <p>Length: @_stageDetails.Length</p>
          <br />
          <p>Road: @_stageDetails.Asphalt / @_stageDetails.Dirt / @_stageDetails.Gravel / @_stageDetails.Snow</p>
          <br />
          <p>Weather: @_stageDetails.Temp &#0043;C, wind: @_stageDetails.Wind km/H</p>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
    <div class="item right stage-img">
      <div class="card" style="overflow: hidden; padding: 0; margin: 0; width: 75%;">
        <img src="img/maps/@_imgName" style="width: 100%;" />
      </div>
    </div>
    <div class="item right stage-description">
      <div class="card">
        <div class="card-header">Description</div>
        <div class="card-body">
          @_description
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
    <div class="item left stage-times">
      <div class="card">
        <div class="card-header">Records</div>
        <div class="card-body">
          <TimeEntryList PerPage="20" StageId="@stageId" />
        </div>
        <div class="card-footer" style="display: flex; flex-direction: row-reverse; width: 100%;">
          <MudButton OnClick="OpenUploadDialog">Upload time</MudButton>
        </div>

      </div>
    </div>
    <div class="item right stage-map">
      <div class="card" style="overflow: hidden; padding: 0; margin: 0;">
        <Map Waypoints="@_waypoints" ShowWaypoints="@ShowWaypoints" NewPathCached="@HandleNewPathCachedEvent" Path="@_path" Api="@_api" />
      </div>
    </div>
    <div class="break"></div>
  </div>
  <MudPopover Open="uploadDialogVisible"
              Fixed="true"
              Class="px-4 pt-4"
              AnchorOrigin="Origin.CenterCenter"
              TransformOrigin="Origin.CenterCenter">
    <UploadTime StageId="@stageId" OnCloseButtonClicked="CloseUploadDialog" />
  </MudPopover>


</div>


@code {


  private int stageId;

  private string _api;
  private async Task HandleNewPathCachedEvent(string path)
  {
    var stage = await StageService.GetByCode(Id, IsArcade ? DomainModel.Direction.Arcade : DomainModel.Direction.Simulation);
    int stageCode = stage.Code;
    await StageService.SetPath(stageCode, path);
  }

  [Parameter]
  public string RaceName { get; set; }

  [Parameter]
  public int Id { get; set; }

  private IList<double[]> _waypoints;

  private string _name;
  private string _raceName;
  private string _description;

  private string _imgName;

  private DomainModel.StageDetails _stageDetails;

  private List<DomainModel.TimeEntry> _timeEntries = new();


  private string _directionParameter;
  [SupplyParameterFromQuery(Name = "direction")]
  public string DirectionParameter
  {
    get => _directionParameter;
    set
    {
      _directionParameter = value;
      Direction = value == "Arcade" ? DomainModel.Direction.Arcade : DomainModel.Direction.Simulation;
    }
  }

  public DomainModel.Direction Direction { get; set; }

  public bool IsArcade => Direction == DomainModel.Direction.Arcade;

  [SupplyParameterFromQuery]
  [Parameter]
  public bool ShowWaypoints { get; set; } = true;

  private string? _path;
  protected override async Task OnInitializedAsync()
  {
    
    var stage = await StageService.GetByCode(Id, Direction);
    stageId = stage.Id;
    _api = stage.StageWaypoints.ApiHint;
    _waypoints = await StageService.GetWaypoints(Id, stage.Direction == DomainModel.Direction.Arcade);

    _path = await StageService.GetPath(Id);
    //_waypoints = [
    //];
    //string rawStr = string.Join(";", _waypoints.Select(x => string.Join(",", x.Select(d => Math.Round(d,7)))));

    _raceName = LevelHelper.RallyCodeToRallyName(Enum.Parse<RallyCode>(RaceName, true));
    _name = stage.StageData.Name;
    _imgName = stage.StageData.ImgName;
    _description = stage.StageData.Description;
    _stageDetails = stage.StageData.StageDetails;
  }

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    await JSRuntime.InvokeVoidAsync("calculateContainerHeight", "containerId");
  }


  

  private bool uploadDialogVisible;
  private void OpenUploadDialog()
  {
    uploadDialogVisible = true;
  }
  private void CloseUploadDialog()
  {
    uploadDialogVisible = false;
  }

}
