@using RC2K.Presentation.Blazor.ViewModels
@using RC2K.Presentation.Blazor.Views.Components;
@using RC2K.Presentation.Shared.ViewModels
@using RC2K.Presentation.Shared.Layout
@using RC2K.Logic.Interfaces
@using RC2K.DomainModel
@inject NavigationManager NavigationManager
@inject IUserService UserService
@inject INotificationService NotificationService
@implements IDisposable
@rendermode InteractiveServer

<div class="profile">
    <AuthorizeView>
        <NotAuthorized>
            <LoginButton />
        </NotAuthorized>
        <Authorized>

            <div class="profile-content @visible @allowOverflowVisible">
                <div class="profile-content-wrapper">
                    <div style="display: flex; flex-direction: column; justify-content: center;">
                        <span>@context.User.Identity?.Name</span>
                    </div>
                    <MudIconButton Icon="@IconMapper.Thin(Icon.Score)"
                                   Href="score"
                                   Style="padding: 0; margin: auto 10px;" />
                    <MudBadge Content="@_notificationsCount" 
                              Visible="@(_notificationsCount > 0)"
                              Color="@Color.Error"
                              Overlap="true"
                              Class="notification-badge" Style="margin: auto 10px;">
                        <MudIconButton Icon="@IconMapper.Thin(Icon.Mail)"
                                       Href="user/notifications"
                                       Style="padding: 0; margin: 0" />
                    </MudBadge>
                    <MudIconButton Icon="@IconMapper.Thin(Icon.Upload)"
                                   Href="user/uploadHst"
                                   Style="padding: 0; margin: auto 10px;" />
                    <MudIconButton Icon="@IconMapper.Thin(Icon.Settings)"
                                   Href="settings"
                                   Style="padding: 0; margin: auto 10px;" />
                    <div style="display:flex; flex-direction: column; justify-content: center; align-content: center;" class="tooltip">
                        <ThreeToggle />
                        <span class="tooltiptext">@mode</span>
                    </div>
                    <MudIconButton Icon="@IconMapper.Thin(Icon.Logout)"
                                   Color="Color.Error"
                                   OnClick="ToLogout"
                                   Style="padding: 0; margin: auto 10px;" />
                </div>
            </div>
            <div style="position: relative;">
                <MudBadge Content="@_notificationsCount" 
                          Visible="@(_notificationsCount > 0)"
                          Color="@Color.Error"
                          Overlap="true"
                          Class="notification-badge-profile">
                    <button class="profile-btn" @onclick="ToggleProfileVisible">
                        <ion-icon name="person-circle-outline" class="btn-svg" />
                    </button>
                </MudBadge>
            </div>


        </Authorized>
    </AuthorizeView>

</div>

@code {

    bool profileContentIsVisible = false;
    bool allowOverflowVisibleBool = false;
    string mode = "Light/Auto/Dark";
    int _notificationsCount = 0;

    protected override async Task OnInitializedAsync()
    {
        await ReloadNotificationsCount();
        NotificationService.NotificationsUpdated += OnNotificationsUpdates;
    }

    public void Dispose()
    {
        NotificationService.NotificationsUpdated -= OnNotificationsUpdates;
    }

    public async void OnNotificationsUpdates(object? sender, Guid userId)
    {
        string me = await UserService.GetCurrentUserName();
        User? currentUser = await UserService.GetUserByName(me);
        if (currentUser?.Id == userId)
        {
            await ReloadNotificationsCount();
        }
    }

    private async Task ReloadNotificationsCount()
    {
        string me = await UserService.GetCurrentUserName();
        if (me == string.Empty)
        {
            _notificationsCount = 0;
            StateHasChanged();
            return;
        }

        _notificationsCount = await NotificationService.GetUserNotificationsCount(me);
        StateHasChanged();
    }

    private async Task ToggleProfileVisible()
    {
        profileContentIsVisible = !profileContentIsVisible;
        if (profileContentIsVisible)
        {
            await Task.Delay(500);
            allowOverflowVisibleBool = true;
        }
        else
        {
            allowOverflowVisibleBool = false;
        }
        StateHasChanged();
    }

    string allowOverflowVisible => allowOverflowVisibleBool ? "allow-overflow-visible" : "";
    string visible => profileContentIsVisible ? "visible" : "";

    private void ToLogout()
    {
        // logout is statically rendered - so forceReload = true
        NavigationManager.NavigateTo("/logout", forceLoad: true);
    }

}
