@using RC2K.Logic.Interfaces
@using System.ComponentModel.DataAnnotations
@using RC2K.Presentation.Blazor.ViewModels;
@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication;
@using Microsoft.AspNetCore.Authentication.Cookies;
@using System.Text.RegularExpressions;
@using System.Globalization
@using Microsoft.AspNetCore.Http
@inject NavigationManager NavigationManager;
@inject AuthService AuthService;
@page "/login"

<h1>Login to see more stats!</h1>
@inject IJSRuntime Js

<div style="width: 100%;">

    <MudPaper Class="pa-4" style="margin: auto;" MaxWidth="50ch">

        <EditForm Model="@Model"
                  class="gap-5"
                  @ref="formLogin"
                  @bind-Errors="@errors"
                  OnValidSubmit="HandleValidSubmit"
                  method="post"
                  FormName="login">
            <DataAnnotationsValidator />
            <MudStaticTextField T="string"
                                Label="Username"
                                @bind-Value="@Model.UserName" For="() => Model.UserName" />
            <MudStaticTextField T="string"
                                Label="Password"
                                @bind-Value="@Model.Password" For="() => Model.Password"
                                InputType="InputType.Password" />
            <div class="d-flex align-center justify-space-between">
                <MudStaticButton FormAction="FormAction.Submit"
                                 Variant="Variant.Filled"
                                 Disabled="@isLoading"
                                 Color="Color.Primary"
                                 Class="ml-auto">Login</MudStaticButton>
            </div>
            <div>
                <p class="d-flex" style="justify-self: center;">
                    <MudText Class="mr-1">Don't have an account yet?</MudText>
                    <MudLink Href="/register">Sign up now</MudLink>
                </p>
            </div>
            @if (errors.Length > 0)
            {
                @foreach (var error in errors)
                {
                    <MudText Color="@Color.Error">@error</MudText>
                }
            }
        </EditForm>

    </MudPaper>
</div>

@code {



    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm(FormName = "login")]
    private LoginDto Model { get; set; } = new();

    string[] errors = { };
    EditForm formLogin = new();

    private bool isLoading;

    protected override async Task OnInitializedAsync()
    {
        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            await HttpContext.SignOutAsync(CookieAuthenticationDefaults.AuthenticationScheme);
        }
    }

    private async Task HandleValidSubmit()
    {
        try
        {
            var principal = await AuthService.Login(Model.UserName!, Model.Password!);
            await HttpContext.SignInAsync(principal);
            HttpContext.Response.Redirect("/");
        }
        catch (Exception ex)
        {
            errors = [ex.Message];
        }

    }

}
