@rendermode InteractiveServer

@page "/user/uploadHst"

@using RC2K.DataAccess.Interfaces
@using RC2K.DataAccess.Interfaces.Repositories
@using RC2K.DomainModel
@using RC2K.Logic.Interfaces
@using RC2K.Parser
@using RC2K.Presentation.Blazor.ViewModels;
@using RC2K.Presentation.Blazor.Views.Components
@using System.Collections.Generic

@inject INotificationService NotificationService
@inject IUserService UserService
@inject ISnackbar Snackbar
@inject IHstUploadManager HstUploadManager
@inject IHstReader HstReader

<MudPaper Class="pa-8 ma-4" Elevation="3">
    <MudText Typo="Typo.h5" GutterBottom="true">Upload Document</MudText>

    <MudForm @ref="form" @bind-IsValid="@success">
        <MudProgressLinear Color="Color.Primary" Value="@_progress" Class="my-7" />
        <MudTextField T="string" Label="Name" Required="true" @bind-Value="uploadModel.Name" />

        <MudFileUpload T="IBrowserFile" FilesChanged="UploadFile" Required="true" Class="mt-4">
            <ActivatorContent>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.CloudUpload" Disabled="@_isUploading">
                    @(_file == null ? "Select File" : _file.Name)
                </MudButton>
            </ActivatorContent>
        </MudFileUpload>

        <div class="d-flex align-center justify-space-between mt-6">
            <MudButton Variant="Variant.Filled" Color="Color.Success" Disabled="@(!success || _file == null)" OnClick="Submit">Submit to /upload</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="Reset" Class="ml-2">Reset</MudButton>
        </div>
    </MudForm>
</MudPaper>


<MudTable Items="@_errors" MultiSelection="true" Hover="true" Breakpoint="Breakpoint.Sm">
    <HeaderContent>
        <MudTh>#</MudTh>
        <MudTh>Stage</MudTh>
        <MudTh>Error message</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="#">@context.Item1</MudTd>
        <MudTd DataLabel="Stage">@context.Item2</MudTd>
        <MudTd DataLabel="Message">@context.Item3</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>


@code {
    private List<(int, string, string)> _errors;


    bool success;
    MudForm form;
    private IBrowserFile _file;
    private UploadRequest uploadModel = new();

    int _progress;

    public class UploadRequest
    {
        public string Name { get; set; }
    }

    private void UploadFile(IBrowserFile file)
    {
        _file = file;
    }

    private bool _isUploading;
    private async Task Submit()
    {
        _isUploading = true;
        try
        {
            await SubmitImpl();
        }
        finally
        {
            _isUploading = false;
        }

    }

    private async Task SubmitImpl()
    {
        if (_file == null) return;

        using var stream = _file.OpenReadStream(maxAllowedSize: 10 * 1024 * 1024);

        using var ms = new MemoryStream();
        await stream.CopyToAsync(ms);
        ms.Position = 0;

        string name = uploadModel.Name;
        var hstData = HstReader.GetEntries(ms, name);
        Progress<int> progress = new Progress<int>((percent) =>
        {
            _progress = percent;
            StateHasChanged();
        });
        var res = await HstUploadManager.UploadMany(hstData, progress);
        if (!res.Success)
        {
            Snackbar.Add("Upload Failed.", Severity.Error);
        }
        else if (res.Payload!.Any())
        {
            Snackbar.Add("Some errors", Severity.Warning);
            _errors = res.Payload!;
        }
        else
        {
            Snackbar.Add("Upload Successful!", Severity.Success);
        }
    }

    private void Reset()
    {
        uploadModel = new();
        _file = null;
        form.ResetAsync();
    }
}