@using RC2K.DomainModel
@using RC2K.Logic
@using RC2K.Logic.Interfaces
@using RC2K.Presentation.Blazor.ViewModels
@rendermode InteractiveServer
@inject IStageService StageService
@inject ITimeEntryService TimeEntryService
@inject IDriverService DriverService
@inject ICarService CarService
@inject IPointsProvider PointsProvider
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager


<div class="times-table" style="display: grid; grid-template-columns: .25fr .8fr .8fr 1.5fr .5fr 1fr .7fr .5fr .25fr;">
  <p class="th-header">#</p>
  <p class="th-header">Time</p>
  <p class="th-header">Gap</p>
  <p class="th-header">Driver</p>
  <p class="th-header">Car</p>
  <p class="th-header">Uploaded</p>
  <p class="th-header">Proofs</p>
  <p class="th-header">Labels</p>
  <p class="th-header">Points</p>

  @{
    int cnt = 0;
  }
  @foreach (var timeEntry in timeEntries.OrderBy(x => x.Time).Skip((Page - 1) * PerPage).Take(PerPage).Select((x, i) => new { Place = i + 1 + PerPage * (Page - 1), Data = x }))
  {
    cnt++;
    <div style="display: flex; align-items: center;"><span>@timeEntry.Place</span></div>
    <div style="display: flex; align-items: center;">
      <span style="color: @(timeEntry.Data.VerifyInfo is null ? "red" : "green");">@timeEntry.Data.Time.ToString("m:ss.ff")</span>
    </div>
    <div style="display: flex; align-items: center;">
      @{
        TimeSpan diff = timeEntry.Data.Time - best.Time;
        if (diff != TimeSpan.Zero)
        {
          string diffFormatted = diff.ToString("m\\:ss\\.ff");
          <p>
            <span>-</span>
            <span>@diffFormatted</span>
          </p>
        }
      }
    </div>
    <div style="display: flex; align-items: center;">
      <p>
        <span class="fi @($"fi-{timeEntry.Data.Driver.Nationality}")"></span>
        <span>@(timeEntry.Data.Driver.Known ? timeEntry.Data.Driver.User!.Name : timeEntry.Data.Driver.Name)</span>
      </p>
    </div>
    <div style="display: flex; align-items: center;">
      <div class="car" data-car-id="@(timeEntry.Data.Car.Id-1)"></div>
    </div>
    <div style="display: flex; align-items: center;">
      <span>@timeEntry.Data.UploadTime.ToString("yyyy/MM/dd")</span>
    </div>
    <p style="display: flex;">
      @{
        foreach (var p in timeEntry.Data.Proofs.OrderBy(x => x.Type))
        {
          <MudIconButton Class="proof-item" Icon="@IconMapper.ProofTypeToIcon(p.Type)" Href="@p.Url" Size="Size.Small" />
        }
      }
    </p>
    <p>
      @{
        var split = timeEntry.Data.Labels?.Split(",");
        if (split is not null)
        {
          foreach (var label in split)
          {
            string color = label switch
            {
              "BRC20" => "#e0c444ff",
              "MFMI18" => "#c71a99ff",
              "MFMI19" => "#d18fd9",
              "MFMI20" => "#83ba73ff",
              "MFMI21" => "#bfb84eff",
              "MFMI22" => "#99e63cff",
              "MFMI23" => "#4d69f7ff",
              "MFMI24" => "#6eb3db",
              "MFMI25" => "#f25a46ff",
              _ => "#1c7848ff"
            };
            <MudChip T="string" Style=@($"background-color: {color}") Size="Size.Small">@label</MudChip>
          }
        }
      }
    </p>
    <p>
      @{
        if (generalPoints.TryGetValue(timeEntry.Data.Id, out int gp))
        {
          <span>+@gp</span>
        }
        if (carPoints.TryGetValue(timeEntry.Data.Id, out int cp))
        {
          <span>+@cp</span>
        }
      }
    </p>
  }
  @{
    if (timeEntries.Count < PerPage)
    {
      for (int i = 10 - cnt; i >= 0; i--)
      {
        <p>@(10 - i)</p>
        <p>---</p>
        <p>---</p>
        <p>---</p>
        <p>---</p>
        <p>---</p>
        <p>---</p>
        <p>---</p>
        <p>---</p>
      }
    }
  }
</div>
<p>
  <span>Pages:</span>
  @for (int i = 0; i < PageCnt; i++)
  {
    int jj = i;
    <MudButton Size="Size.Small" OnClick="() => { GoToPage(jj+1); }">@(jj + 1)</MudButton>
  }
</p>




@code {

  private TimeEntry best;
  private List<TimeEntry> timeEntries = [];
  private Dictionary<Guid, int> generalPoints = [];
  private Dictionary<Guid, int> carPoints = [];
  private int PageCnt;

  [SupplyParameterFromQuery] public int Page {get;set;}
  [Parameter] public int PerPage { get; set; }
  [Parameter] public int StageId { get; set; }


  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (!firstRender)
    {
      return;
    }

    timeEntries = await TimeEntryService.Get(StageId);
    PageCnt = (int)Math.Ceiling(((double)(timeEntries.Count())) / (double)PerPage);
    best = timeEntries.OrderBy(x => x.Time).FirstOrDefault();

    generalPoints = PointsProvider.CalculateGeneralStagePoints(timeEntries);
    carPoints = PointsProvider.CalculateCarStagePoints(timeEntries);
    StateHasChanged();
  }

  void GoToPage(int p)
  {
    var newLocation = NavigationManager.GetUriWithQueryParameter("Page", p);
    NavigationManager.NavigateTo(newLocation);
  }

}
