@using RC2K.DomainModel
@using RC2K.Logic
@using RC2K.Logic.Interfaces
@using RC2K.Presentation.Blazor.ViewModels
@using RC2K.Presentation.Blazor.Views.Layout
@rendermode InteractiveServer
@inject IStageService StageService
@inject ITimeEntryService TimeEntryService
@inject IDriverService DriverService
@inject ICarService CarService
@inject IPointsProvider PointsProvider
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject IUserService UserService

    <MyErrorBoundary @ref="_errorBoundary">
              <ChildContent >
                


<div class="d-flex flex-column">

  <MudPaper Class="pa-4" style="margin: auto;" MaxWidth="50ch">
    <MudForm Class="gap-5">
      <div style="display: flex; gap: 1em;">
        <MudTextField T="int"
                      Label="min"
                      @bind-Value="UploadTimeModel.Min" />
        <MudTextField T="int"
                      Label="sec"
                      @bind-Value="UploadTimeModel.Sec" />
        <MudTextField T="int"
                      Label="cc"
                      @bind-Value="UploadTimeModel.Cc" />
      </div>
      <MudTextField T="string"
                    Label="Driver name"
                    ReadOnly="true"
                    @bind-Value="UploadTimeModel.DriverName" />

      <CarSelector @ref="_carSelector" SelectedCar="@UploadTimeModel.Car" /> 

      <MudRadioGroup @bind-Value="UploadTimeModel.Label">
        <MudRadio Value="@("TA")" Color="Color.Primary" >Time Attack</MudRadio>
        <MudRadio Value="@("BRC")" Color="Color.Secondary">BRC</MudRadio>
        <MudRadio Value="@("A8")" Color="Color.Success">A8</MudRadio>
        <MudRadio Value="@("Arcade")" Color="Color.Warning">Arcade</MudRadio>
      </MudRadioGroup>

      <MudContainer MaxWidth="MaxWidth.Small" Class="mt-8">
        <MudText Typo="Typo.h6" Class="mb-4">Proofs</MudText>

        @for (int i = 0; i < _proofItems.Count; i++)
        {
          int index = i;
          <div class="d-flex align-center gap-4 mb-3">
            <MudSelect T="ProofType" Label="Type"
                                      Variant="Variant.Outlined" Margin="Margin.Dense" Style="width: 150px;">
              @foreach (ProofType type in Enum.GetValues(typeof(ProofType)))
              {
                <MudSelectItem Value="@type">@type.ToString()</MudSelectItem>
              }
            </MudSelect>
            <MudTextField T="string"
                          Label="@($"Link {index + 1}")"
                          Value="_proofItems[index].Item2"
                          ValueChanged="@(value => OnValueChanged(index, value))"
                          Variant="Variant.Outlined"
                          Margin="Margin.Dense" />

            @if (_proofItems.Count > 1)
            {
              <MudIconButton Icon="@Icons.Material.Filled.Delete"
                             Color="Color.Error"
                             OnClick="@(() => RemoveRow(index))" />
            }
          </div>
        }
      </MudContainer>

      <MudButton Variant="Variant.Filled"
                 Color="Color.Primary"
                 Class="ml-auto"
                 OnClick="UploadClick">Upload</MudButton>
    </MudForm>
  </MudPaper>

</div>
  </ChildContent>
</MyErrorBoundary>

@code {
  ErrorBoundary _errorBoundary;

  protected override void OnParametersSet()
  {
    _errorBoundary?.Recover();
  }

  private List<Tuple<ProofType,string>> _proofItems = new() { Tuple.Create<ProofType,string>(ProofType.Unknown, "") };

  private void OnValueChanged(int index, string newValue)
  {
    ProofType currentProofType = _proofItems[index].Item1;
    _proofItems[index] = Tuple.Create<ProofType, string>(currentProofType, newValue);

    if (index == _proofItems.Count - 1 && !string.IsNullOrWhiteSpace(newValue))
    {
      _proofItems.Add(Tuple.Create(ProofType.Unknown, ""));
    }
  }

  private void RemoveRow(int index)
  {
    if (_proofItems.Count > 1)
    {
      _proofItems.RemoveAt(index);
    }
  }


  CarSelector _carSelector;

  protected override void OnAfterRender(bool firstRender)
  {
    if (!firstRender)
    {
      return;
    }
    _carSelector.OnSelectedCarChanged += (_,c) =>
    {
      UploadTimeModel.Car = c;
    };
  }

  protected override async Task OnInitializedAsync()
  {
    UploadTimeModel.DriverName = await UserService.GetCurrentUserName();
  }

  [Parameter] public int StageId { get; set; }

  UploadTimeModelType UploadTimeModel = new();

  public class UploadTimeModelType
  {
    public int Min { get; set; }
    public int Sec { get; set; }
    public int Cc { get; set; }
    private Car _car;
    public Car Car 
    { 
      get => _car;
      set
      {
        _car = value;
      }
    }
    public string Proofs { get; set; }
    public string DriverName { get; set; }
    public string Label { get; set; } = "TA";
  }

  private async Task UploadClick()
  {
    var driver = await DriverService.GetByName(UploadTimeModel.DriverName);
    if (driver is null || !driver.Known)
    {
      // TODO: handle adding times for anonymous drivers
      Snackbar.Add("Currently adding times for not logged in drivers is not supported", Severity.Error);
      return;
    }

    var proofs =
      _proofItems.Where(x => !string.IsNullOrEmpty(x.Item2))
                 .Select(x => new Proof() { Type = x.Item1, Url = x.Item2 })
                 .ToList();

    if (proofs.Count == 0)
    {
      Snackbar.Add("You need to add proofs! Screen with stage, car and time is required. Otherwise your time will be rejected by verifiers. Upload your screen to Google Driver or other storage and put url here.", Severity.Error);
      return;
    }

    await TimeEntryService.Upload(
      StageId,
      UploadTimeModel.Car.Id,
      driver.Id,
      UploadTimeModel.Min,
      UploadTimeModel.Sec,
      UploadTimeModel.Cc,
      proofs,
      UploadTimeModel.Label
      );

    Snackbar.Add($"Uploaded. Refresh to see.", Severity.Success, config =>
    {
    config.ShowCloseIcon = true;
    config.VisibleStateDuration = 10000;
    });
  }

}
